{% extends 'base.html' %}

{% block title %} DETAIL POST {% endblock %}

{% block content %}

<div class="container mt-5">
    <h1>Post № {{ post.id }} - {{ post.title }}</h1>

    <div class="row">
        <div class="col-md-12">
            <p><strong>Category:</strong> {{ post.category }}</p>
        </div>
        <div class="col-md-12">
            <p><strong>Published:</strong> {{ post.publish_date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
        </div>
        <div class="col-md-12">
            <p><strong>Author:</strong> {{ post.author }}</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <p>{{ post.content }}</p>
        </div>
    </div>

    <form action="{{ url_for('.edit_post', post_id=post.id) }}">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-pencil"></i> Edit Post
        </button>
    </form>

    <a href="{{ url_for('.get_posts') }}" class="btn btn-secondary mt-3">Return to posts</a>
</div>

{% endblock %}
