{% extends 'base.html' %}
{% block title %} POSTS {% endblock %}

{% block css %} 
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/posts.css') }}">
{% endblock %}

{% block content %}
<h1 class="myclass">Articles</h1>

<div class="container mt-5">
    <form action="{{ url_for('.add_post') }}" class="mb-4">
        <button type="submit" class="btn btn-primary">Add post</button>
    </form>
    <br>
    <form action="{{ url_for('.delete_post') }}" method="post">
        <div class="form-group">
            <label for="post_id">Select Post to Delete:</label>
            <select name="post_id" id="post_id" class="form-control">
                {% for post in posts %}
                    <option value="{{ post.id }}">{{ post.id }} - {{ post.title }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-danger">Delete Post</button>
    </form>
    <br>

    <div class="row">
        {% for post in posts %}
            {% if post["is_active"] %}
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <img src="{{ url_for('.static', filename='img/default.png') }}" 
                            class="card-img-top" height="300px">
                    <div class="card-body">
                        <h5 class="card-title">{{ post["title"] | title }}</h5> 
                        <p class="card-text">Post ID: {{ post["id"] }}</p>
                        <p class="card-text">Author: {{ post["author"] }}</p>
                        <p class="card-text">Published on: {{ post.publish_date }}</p>
                        <p class="card-text">{{ post["content"] | truncate(23) }}</p>
                        <a href="{{ url_for('.detail_post', id=post['id']) }}" class="btn btn-outline-primary">View Post</a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}