<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Resume</title>
    <link rel="stylesheet" href="/static/style/style.css">
</head>
<body>
    <header>
        <h1>Sofiia Ivanytska</h1>
        <p>Java Developer</p>
    </header>
    
    <section id="about">
        <h2>About Me</h2>
        <p>
            I am a driven Java developer with experience in creating web applications using 
            Spring Boot. I have knowledge in front-end development and experience working with various databases. 
            I aim to work in a team of professionals to enhance my skills and contribute to interesting projects.
        </p>
        <img src="/static/images/logo.gif" alt="Profile Photo" style="width:150px; height:150px;">
    </section>
    
    <section id="education">
        <h2>Education</h2>
        <p>
            Vasyl Stefanyk Precarpathian National University<br>
            Bachelor of Software Engineering<br>
            2022 - 2026
        </p>
    </section>
    
    <section id="skills">
        <h2>Skills</h2>
        <ul>
            <li>Programming Languages: Java, Python, C++, PHP</li>
            <li>Frameworks: Spring Boot, Hibernate, Flask</li>
            <li>Frontend: HTML, CSS, JavaScript, Angular, React</li>
            <li>Databases: PostgreSQL, MySQL</li>
            <li>Tools: Git, Maven</li>
            <li>Version Control Systems: Git, GitHub, GitLab</li>
        </ul>
    </section>
    
    <section id="experience">
        <h2>Work Experience / Projects</h2>
        <h3>Java Developer</h3>
        <p>Company "IT Solutions", May 2022 - Present</p>
        <ul>
            <li>Developed a corporate web application for project management using Spring Boot and Angular.</li>
            <li>Implemented RESTful APIs for integration with other systems.</li>
            <li>Optimized database queries to enhance performance.</li>
        </ul>
        
        <h3>Project "Goal Tracker"</h3>
        <p>Personal Project, February 2023 - April 2023</p>
        <ul>
            <li>Developed a web application for tracking goals and tasks.</li>
            <li>Utilized Spring Boot for the backend and React for the frontend.</li>
            <li>Implemented authentication, goal management, and progress reporting functionalities.</li>
        </ul>
    </section>
    
    <footer>
        <p>Contact Information: sofiia.van@yt.com | Phone: +3801234567890</p>
        <p>GitHub: <a href="https://github.com/1vanytska">1vanytska</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/feed/">Sofiia Ivanytska</a></p>
    </footer>
</body>
</html>
