<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('users.login') }}">FlaskApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('resume') }}#about">About Me</a></li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('resume') }}#education">Education</a></li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('resume') }}#skills">Skills</a></li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('resume') }}#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('users.login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('users.get_profile') }}">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>